[Unit]
Description=CAN2REST
Requires=network-online.target
After=network-online.target
Before=

[Service]
Type=simple

WorkingDirectory=_CAN2REST_INSTALL_DIR_

ExecStart=_CAN2REST_INSTALL_DIR_/start_can2rest.sh
StandardOutput=journal
TimeoutStopSec=10
Restart=always

[Install]
WantedBy=multi-user.target
