#!/bin/env bash

cd "$(dirname "$0")"

pwd

# CREATE CAN DEVICE
./init_usbtin.sh

touch ./LOCK
while true; do
	FILEA=./LOCK
	if test -f "$FILEA"; then
    	echo "STARTING CAN2REST"
		./can2rest
		sleep 10
	else
	    	exit 1
	fi	
done