#!/bin/env bash

cd "$(dirname "$0")"

pwd

# CREATE CAN DEVICE


touch ./LOCK
while true; do
	FILEA=./LOCK
	if test -f "$FILEA"; then
		echo "INIT USBTIN"
		./init_usbtin.sh
    	echo "STARTING CAN2REST"
		./can2rest
		sleep 10
	else
	    	exit 1
	fi	
done